In [176]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns

In [27]:
pip install yfinance # installing API

Collecting yfinance
  Downloading yfinance-0.2.44-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.32.2)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: lxml>=4.9.1 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (5.2.1)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.4.2)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.6.tar.gz (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 11.6 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (4.12.3)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.12/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2024.8.30)
Downloading yfinance-0.2.44-py2.py3-none-any.whl (94 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.6/94.6 kB 6.3 MB/s eta 0:00:00
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 13.4 MB/s eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.17.6-py3-none-any.whl size=138891 sha256=acd2f24f2078eed9cc763f400b53c75aed6d1f5a534c668ed540b316805d1265
  Stored in directory: /Users/janoskamke/Library/Caches/pip/wheels/a6/5e/0f/8319805c4115320e0d3e8fb5799b114a2e4c4a3d6c7e523b06
Successfully built peewee
Installing collected packages: peewee, multitasking, html5lib, yfinance
Successfully installed html5lib-1.1 multitasking-0.0.11 peewee-3.17.6 yfinance-0.2.44
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import yfinance as yf

In [230]:
df_100_ger = pd.read_csv("100_companies_GER.csv") # Import data source about Germany's top publicly listed companies

df_100_ger.head()

   Rank              Name  Symbol     marketcap  price (USD)  country
0     1               SAP     SAP  265384574976     227.5050  Germany
1     2           Siemens  SIE.DE  159314537305     201.6840  Germany
2     3  Deutsche Telekom  DTE.DE  146589013333      29.4437  Germany
3     4           Allianz  ALV.DE  128707767376     328.7900  Germany
4     5        Merck KGaA  MRK.DE   75642889078     173.9800  Germany

In [232]:
df_100_ger_ind = []

for company in df_100_ger["Symbol"]:
    stock = yf.Ticker(company) # Download data for a specific stock 
    info = stock.info
    stockinfo = stock.history(period="5y") # Get historical market data
    industry = info.get("industry", "Unknown")
    sector = info.get("sector", "Unknown")  
    stockinfo["Industry"] = industry
    stockinfo["Sector"] = sector
    stockinfo['Trading Symbol'] = company
    stockinfo['Company Name'] = df_100_ger[df_100_ger['Symbol'] == company]['Name'].values[0]
    df_100_ger_ind.append(stockinfo[['Trading Symbol', 'Company Name', 'Close', "Industry", "Sector"]])

df_100_ger_combined = pd.concat(df_100_ger_ind, axis=0)
df_100_ger_combined.reset_index(inplace=True)

BIRK: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', 'ytd', 'max']
1SXP.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
IOS.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/SYAB.DE?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=SYAB.DE&crumb=BAvK3.VSCdS
$SYAB.DE: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
R3NK.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', 'ytd', 'max']
DOU.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', 'ytd', 'max']
EIN3.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', 'ytd', 'max']
NCH2.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
WBAH.F: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/AR4.DE?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=AR4.DE&crumb=BAvK3.VSCdS
$AR4.DE: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
INS.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
DIC.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', 'ytd', 'max']
TPG.F: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', 'ytd', 'max']
SHMD: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', 'ytd', 'max']
B5A.HM: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
SW10.HM: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
CAG0.HM: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
Z29.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
D77.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
LKB.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', 'ytd', 'max']
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/H9Y.DE?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=H9Y.DE&crumb=BAvK3.VSCdS
$H9Y.DE: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
3SQ1.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', 'ytd', 'max']
GAI.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', 'ytd', 'max']
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/GAG.DE?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=GAG.DE&crumb=BAvK3.VSCdS
$GAG.DE: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")
MWB0.DE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', 'ytd', 'max']
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/VIAO?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=VIAO&crumb=BAvK3.VSCdS
$VIAO: possibly delisted; no price data found  (period=5y) (Yahoo error = "No data found, symbol may be delisted")

In [262]:
df_100_ger_combined.to_csv('df_100_ger_combined.csv', index=False)

In [258]:
df_100_ger_combined["Date"] = df_100_ger_combined["Date"].apply(lambda x: x.strftime('%Y-%m-%d'))

In [260]:
df_100_ger_combined

,Date,Trading Symbol,Company Name,Close,Industry,Sector
0,2019-10-01,SAP,SAP,107.225510,Software - Application,Technology
1,2019-10-02,SAP,SAP,104.031174,Software - Application,Technology
2,2019-10-03,SAP,SAP,105.358337,Software - Application,Technology
3,2019-10-04,SAP,SAP,105.596321,Software - Application,Technology
4,2019-10-07,SAP,SAP,104.827461,Software - Application,Technology
...,...,...,...,...,...,...
434862,2024-09-26,C0M.F,Compleo Charging Solutions,0.120000,Electrical Equipment & Parts,Industrials
434863,2024-09-27,C0M.F,Compleo Charging Solutions,0.120200,Electrical Equipment & Parts,Industrials
434864,2024-09-30,C0M.F,Compleo Charging Solutions,0.120000,Electrical Equipment & Parts,Industrials
434865,2024-10-01,C0M.F,Compleo Charging Solutions,0.121000,Electrical Equipment & Parts,Industrials
434866,2024-09-10,PAG.F,PREOS Real Estate,0.003500,Real Estate Services,Real Estate

In [272]:
df_sp_500 = pd.read_csv("sp500_companies.csv") # Import data source about USA's top publicly listed companies

df_sp_500.head()

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,233.00,3542555295744,131781001216.00,0.05,Cupertino,CA,United States,161000.00,"Apple Inc. designs, manufactures, and markets ...",0.07
1,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software - Infrastructure,430.30,3198437031936,129433001984.00,0.15,Redmond,WA,United States,228000.00,Microsoft Corporation develops and supports so...,0.06
2,NMS,NVDA,NVIDIA Corporation,NVIDIA Corporation,Technology,Semiconductors,121.44,2978923151360,61184000000.00,1.22,Santa Clara,CA,United States,29600.00,NVIDIA Corporation provides graphics and compu...,0.06
3,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,165.85,2025708584960,115478003712.00,0.14,Mountain View,CA,United States,179582.00,Alphabet Inc. offers various products and plat...,0.04
4,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,167.19,2025707536384,115478003712.00,0.14,Mountain View,CA,United States,179582.00,Alphabet Inc. offers various products and plat...,0.04

In [274]:
df_sp_500_ind = []

for company in df_sp_500["Symbol"]:
    stock = yf.Ticker(company) # Download data for a specific stock 
    info = stock.info
    stockinfo = stock.history(period="5y") # Get historical market data
    industry = info.get("industry", "Unknown")
    sector = info.get("sector", "Unknown")  
    stockinfo["Industry"] = industry
    stockinfo["Sector"] = sector
    stockinfo['Trading Symbol'] = company
    stockinfo['Company Name'] = df_sp_500[df_sp_500['Symbol'] == company]['Shortname'].values[0]
    df_sp_500_ind.append(stockinfo[['Trading Symbol', 'Company Name', 'Close', "Industry", "Sector"]])

df_sp_500_combined = pd.concat(df_sp_500_ind, axis=0)
df_sp_500_combined.reset_index(inplace=True)

GEV: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', 'ytd', 'max']
KVUE: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
GEHC: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
VLTO: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', 'ytd', 'max']
SW: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', 'ytd', 'max']
SOLV: Period '5y' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', 'ytd', 'max']
/var/folders/gk/c2gpqh3x7z74jf883m6p8r3c0000gn/T/ipykernel_75109/258527094.py:15: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df_sp_500_combined = pd.concat(df_sp_500_ind, axis=0)

In [276]:
df_sp_500_combined

,Date,Trading Symbol,Company Name,Close,Industry,Sector
0,2019-10-01 00:00:00-04:00,AAPL,Apple Inc.,54.33,Consumer Electronics,Technology
1,2019-10-02 00:00:00-04:00,AAPL,Apple Inc.,52.97,Consumer Electronics,Technology
2,2019-10-03 00:00:00-04:00,AAPL,Apple Inc.,53.42,Consumer Electronics,Technology
3,2019-10-04 00:00:00-04:00,AAPL,Apple Inc.,54.92,Consumer Electronics,Technology
4,2019-10-07 00:00:00-04:00,AAPL,Apple Inc.,54.93,Consumer Electronics,Technology
...,...,...,...,...,...,...
623091,2024-09-25 00:00:00-04:00,PARA,Paramount Global,10.55,Entertainment,Communication Services
623092,2024-09-26 00:00:00-04:00,PARA,Paramount Global,10.66,Entertainment,Communication Services
623093,2024-09-27 00:00:00-04:00,PARA,Paramount Global,10.79,Entertainment,Communication Services
623094,2024-09-30 00:00:00-04:00,PARA,Paramount Global,10.62,Entertainment,Communication Services
623095,2024-10-01 00:00:00-04:00,PARA,Paramount Global,10.65,Entertainment,Communication Services

In [278]:
df_sp_500_combined["Date"] = df_sp_500_combined["Date"].apply(lambda x: x.strftime('%Y-%m-%d'))

In [280]:
df_sp_500_combined.to_csv('df_sp_500_combined.csv', index=False)

In [268]:
# Load the COVID-19 data
covid_df = pd.read_csv('Coronavirus_cases_daily_update.csv')
covid_df

#convert the 'date' column to datetime
covid_df['date'] = pd.to_datetime(covid_df['date'])

#create separate 'year' and 'month' columns for grouping
covid_df['year'] = covid_df['date'].dt.year
covid_df['month'] = covid_df['date'].dt.month

# Group by 'location', 'year', and 'month', and sum the cases for each group
monthly_covid_df = covid_df.groupby(['continent','location', 'year', 'month']).agg({
    'new_cases': 'sum',
    'new_deaths': 'sum',
    'population': 'mean',
    'total_vaccinations': 'sum',
    'new_vaccinations': 'sum'
}).reset_index()

# Create a new 'date' column for the first day of the month
monthly_covid_df['date'] = pd.to_datetime(monthly_covid_df[['year', 'month']].assign(day=1)) + pd.offsets.MonthEnd(0)

# Drop 'year' and 'month' columns if not needed
monthly_covid_df.drop(columns=['year', 'month'], inplace=True)

# Display the processed DataFrame
monthly_covid_df.head(13)

,continent,location,new_cases,new_deaths,population,total_vaccinations,new_vaccinations,date
0,Africa,Algeria,0.00,0.00,44903228.00,0.00,0.00,2020-01-31
1,Africa,Algeria,0.00,0.00,44903228.00,0.00,0.00,2020-02-29
2,Africa,Algeria,454.00,30.00,44903228.00,0.00,0.00,2020-03-31
3,Africa,Algeria,2802.00,386.00,44903228.00,0.00,0.00,2020-04-30
4,Africa,Algeria,6011.00,227.00,44903228.00,0.00,0.00,2020-05-31
5,Africa,Algeria,3701.00,237.00,44903228.00,0.00,0.00,2020-06-30
6,Africa,Algeria,13796.00,254.00,44903228.00,0.00,0.00,2020-07-31
7,Africa,Algeria,17018.00,355.00,44903228.00,0.00,0.00,2020-08-31
8,Africa,Algeria,7132.00,220.00,44903228.00,0.00,0.00,2020-09-30
9,Africa,Algeria,4716.00,188.00,44903228.00,0.00,0.00,2020-10-31
10,Africa,Algeria,25582.00,496.00,44903228.00,0.00,0.00,2020-11-30
11,Africa,Algeria,16645.00,329.00,44903228.00,0.00,0.00,2020-12-31
12,Africa,Algeria,9265.00,166.00,44903228.00,30.00,30.00,2021-01-31

In [270]:
# Now filter for Germany
# Set pandas display options
pd.set_option('display.float_format', '{:.2f}'.format)
germany_covid_df = monthly_covid_df[monthly_covid_df['location'] == 'Germany']
germany_covid_df

,continent,location,new_cases,new_deaths,population,total_vaccinations,new_vaccinations,date
6863,Europe,Germany,2.00,6.00,83369840.00,0.00,0.00,2020-01-31
6864,Europe,Germany,29.00,4.00,83369840.00,0.00,0.00,2020-02-29
6865,Europe,Germany,63873.00,2035.00,83369840.00,0.00,0.00,2020-03-31
6866,Europe,Germany,92908.00,6104.00,83369840.00,0.00,0.00,2020-04-30
6867,Europe,Germany,25270.00,987.00,83369840.00,0.00,0.00,2020-05-31
6868,Europe,Germany,12061.00,141.00,83369840.00,0.00,0.00,2020-06-30
6869,Europe,Germany,12100.00,115.00,83369840.00,0.00,0.00,2020-07-31
6870,Europe,Germany,37305.00,151.00,83369840.00,0.00,0.00,2020-08-31
6871,Europe,Germany,43743.00,295.00,83369840.00,0.00,0.00,2020-09-30
6872,Europe,Germany,158914.00,1847.00,83369840.00,0.00,0.00,2020-10-31
6873,Europe,Germany,616085.00,12894.00,83369840.00,0.00,0.00,2020-11-30
6874,Europe,Germany,597888.00,22430.00,83369840.00,523525.00,182500.00,2020-12-31
6875,Europe,Germany,561112.00,23808.00,83369840.00,39004551.00,2340328.00,2021-01-31
6876,Europe,Germany,224108.00,6653.00,83369840.00,123771228.00,3799647.00,2021-02-28
6877,Europe,Germany,338735.00,4956.00,83369840.00,315690210.00,7878181.00,2021-03-31
6878,Europe,Germany,514894.00,6421.00,83369840.00,637395144.00,15774431.00,2021-04-30
6879,Europe,Germany,378814.00,3702.00,83369840.00,1272677255.00,21422384.00,2021-05-31
6880,Europe,Germany,46886.00,285.00,83369840.00,1939117812.00,25337949.00,2021-06-30
6881,Europe,Germany,31744.00,120.00,83369840.00,2685777993.00,17552589.00,2021-07-31
6882,Europe,Germany,184045.00,880.00,83369840.00,3091677518.00,9515524.00,2021-08-31
6883,Europe,Germany,261487.00,1620.00,83369840.00,3209733364.00,6063013.00,2021-09-30
6884,Europe,Germany,414599.00,3818.00,83369840.00,3472335336.00,4266680.00,2021-10-31
6885,Europe,Germany,1204044.00,9761.00,83369840.00,3573135920.00,12787843.00,2021-11-30
6886,Europe,Germany,1193397.00,8659.00,83369840.00,4432995766.00,27020862.00,2021-12-31
6887,Europe,Germany,2943869.00,4576.00,83369840.00,5033827348.00,15171045.00,2022-01-31
6888,Europe,Germany,4888949.00,6640.00,83369840.00,4822748589.00,5162890.00,2022-02-28
6889,Europe,Germany,5719250.00,7199.00,83369840.00,5467912358.00,3983377.00,2022-03-31
6890,Europe,Germany,3790172.00,4621.00,83369840.00,5386549669.00,2306168.00,2022-04-30
6891,Europe,Germany,1956766.00,2180.00,83369840.00,5625159167.00,1429724.00,2022-05-31
6892,Europe,Germany,1564591.00,1476.00,83369840.00,5474899000.00,987969.00,2022-06-30
6893,Europe,Germany,3050163.00,4439.00,83369840.00,5690199434.00,1066597.00,2022-07-31
6894,Europe,Germany,1152536.00,2404.00,83369840.00,5719186167.00,775137.00,2022-08-31
6895,Europe,Germany,921289.00,1542.00,83369840.00,5557934478.00,1083375.00,2022-09-30
6896,Europe,Germany,2616430.00,6250.00,83369840.00,5801173152.00,2479007.00,2022-10-31
6897,Europe,Germany,785849.00,2531.00,83369840.00,5689801552.00,2233154.00,2022-11-30
6898,Europe,Germany,838029.00,4188.00,83369840.00,5929028083.00,942253.00,2022-12-31
6899,Europe,Germany,507137.00,2985.00,83369840.00,5945406078.00,382371.00,2023-01-31
6900,Europe,Germany,382122.00,1999.00,83369840.00,5377646961.00,147341.00,2023-02-28
6901,Europe,Germany,203025.00,2278.00,83369840.00,5957103838.00,92366.00,2023-03-31
6902,Europe,Germany,71037.00,1406.00,83369840.00,1345506789.00,12336.00,2023-04-30
6903,Europe,Germany,22699.00,433.00,83369840.00,0.00,0.00,2023-05-31
6904,Europe,Germany,8701.00,132.00,83369840.00,0.00,0.00,2023-06-30
6905,Europe,Germany,1099.00,8.00,83369840.00,0.00,0.00,2023-07-31
6906,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2023-08-31
6907,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2023-09-30
6908,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2023-10-31
6909,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2023-11-30
6910,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2023-12-31
6911,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2024-01-31
6912,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2024-02-29
6913,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2024-03-31
6914,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2024-04-30
6915,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2024-05-31
6916,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2024-06-30
6917,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2024-07-31
6918,Europe,Germany,0.00,0.00,83369840.00,0.00,0.00,2024-08-31

In [ ]:
# Janos

In [ ]:
# Michael